language: go
sudo: false
go:
  - 1.6

before_script:
  - go vet ./...

install:
  - export GOPATH="${TRAVIS_BUILD_DIR}/Godeps/_workspace:$GOPATH"
  - export PATH="${TRAVIS_BUILD_DIR}/Godeps/_workspace/bin:$PATH"

script:
  - make
  - go test ./...
